@import "normalize.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    color: #191919;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
  }
  img {
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  button,
  input,
  [tabindex] {
    outline: none;
    border: none;
  }
  a[href] {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
